* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  line-height: 1.5;
  /* color: #333; */
  overflow-x: hidden;
}

.form-check-input{
  cursor: pointer;
}